PUBMED RESEARCH ABSTRACT
========================
PMID: 9841962
Title: Effects of exercise on dietary protein requirements.
Authors: Lemon
Journal: International journal of sport nutrition
Year: 1999
Topic: nutrient timing exercise

ABSTRACT:
This paper reviews the factors (exercise intensity, carbohydrate availability, exercise type, energy balance, gender, exercise training, age, and timing of nutrient intake or subsequent exercise sessions) thought to influence protein need. Although there remains some debate, recent evidence suggests that dietary protein need increases with rigorous physical exercise. Those involved in strength training might need to consume as much as 1.6 to 1.7 g protein x kg(-1) x day(-1) (approximately twice the current RDA) while those undergoing endurance training might need about 1.2 to 1.6 g x kg(-1) x day(-1) (approximately 1.5 times the current RDA). Future longitudinal studies are needed to confirm these recommendations and asses whether these protein intakes can enhance exercise performance. Despite the frequently expressed concern about adverse effects of high protein intake, there is no evidence that protein intakes in the range suggested will have adverse effects in healthy individuals.

---
Source: https://pubmed.ncbi.nlm.nih.gov/9841962/
