PUBMED RESEARCH ABSTRACT
========================
PMID: 27215586
Title: Cumulative Muscle Protein Synthesis and Protein Intake Requirements.
Authors: Simmons, Fluckey, Riechman
Journal: Annual review of nutrition
Year: 2017
Topic: muscle protein synthesis exercise

ABSTRACT:
Muscle protein synthesis (MPS) fluctuates widely over the course of a day and is influenced by many factors. The time course of MPS responses to exercise and the influence of training and nutrition can only be pieced together from several different investigations and methods, many of which create unnatural experimental conditions. Measurements of cumulative MPS, the sum synthesis over an extended period, using deuterium oxide have been shown to accurately reflect muscle responses and may allow investigations of the response to exercise, total protein intake requirements, and interaction with protein timing in free-living experimental conditions; these factors have yet to be carefully integrated. Such studies could include clinical and athletic populations to integrate nutritional and exercise recommendations and help guide their revisions to optimize the skeletal muscle function that is so important to overall health.

---
Source: https://pubmed.ncbi.nlm.nih.gov/27215586/
