PUBMED RESEARCH ABSTRACT
========================
PMID: 31083047
Title: Low-Carbohydrate trening Increases Protein Requirements of Endurance Athletes.
Authors: Gillen, West, Williamson, Fung, Moore
Journal: Medicine and science in sports and exercise
Year: 2020
Topic: periodization trening athletes

ABSTRACT:
trening with low-carbohydrate (CHO) availability enhances markers of aerobic adaptation and has become popular to periodize throughout an endurance-trening program. However, exercise-induced amino acid oxidation is increased with low muscle glycogen, which may limit substrate availability for postexercise protein synthesis. We aimed to determine the impact of trening with low-CHO availability on estimates of dietary protein requirements.

---
Source: https://pubmed.ncbi.nlm.nih.gov/31083047/
