name: Auto Build and Upload Master Transcripts

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"  # Runs daily at 09:00 UTC

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        use
